.tarefas{
  margin-top: 30px;
}

.tarefas li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tarefas li span{
  display: flex;
  align-items: center;
}

.tarefas li:hover{
  background-color: #51c5de;
}

.tarefas li .edit{
  margin-right: 15px;
  color: #51c5de;
  transition: all 600ms;
  cursor: pointer;
}

.tarefas li .delete{
  margin-right: 15px;
  color: #f04c64;
  cursor: pointer;
  transition: all 600ms;
}

.tarefas li:hover .edit, .tarefas li:hover .delete{
  color: black;
}
